body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  line-height: 1.6em;
  font-size: 1em;
}

input {
  font-size: 1em;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

ul {
  padding-left: 20px;
}

.editable {
  border: 3px inset rgb(104, 180, 252);
  padding: 20px;
}

#drinks-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.delete-button {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 4px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.delete-button:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}
.delete-button:active {
  position: relative;
  top: 1px;
}
